@layer base, qwik-ui, popover-polyfill, theme, components, utilities;
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --background: white;
    --foreground: var(--color-zinc-900);
    --muted: var(--color-zinc-100);
    --muted-foreground: var(--color-zinc-700);
    --popover: white;
    --popover-foreground: var(--color-zinc-900);
    --card: white;
    --card-foreground: var(--color-zinc-900);
    --border: black;
    --input: black;
    --primary: var(--color-cyan-900);
    --primary-foreground: white;
    --secondary: var(--color-zinc-900);
    --secondary-foreground: white;
    --accent: var(--color-zinc-100);
    --accent-foreground: var(--color-zinc-900);
    --alert: var(--color-red-500);
    --alert-foreground: var(--color-zinc-50);
    --ring: black;
    --border-width: 2px;
    --stroke-width: 2px;
    --border-radius: 0.5rem;
    --shadow-base-value: 0px 1px rgba(0, 0, 0, 1);
    --shadow-2xs-value: 1px 2px rgba(0, 0, 0, 1);
    --shadow-xs-value: 3px 4px rgba(0, 0, 0, 1);
    --shadow-sm-value: 5px 6px rgba(0, 0, 0, 1);
    --shadow-md-value: 7px 8px rgba(0, 0, 0, 1);
    --shadow-lg-value: 9px 10px rgba(0, 0, 0, 1);
    --shadow-xl-value: 11px 12px rgba(0, 0, 0, 1);
    --shadow-2xl-value: 13px 14px rgba(0, 0, 0, 1);
    --shadow-inner-value: inset 0 2px 4px 0 rgba(0, 0, 0, 0.01);
    --transform-press: translate(4px, 4px);
  }
  .dark {
    --background: var(--color-zinc-950);
    --foreground: var(--color-zinc-50);
    --muted: var(--color-zinc-800);
    --muted-foreground: var(--color-zinc-300);
    --popover: var(--color-zinc-950);
    --popover-foreground: var(--color-zinc-50);
    --card: var(--color-zinc-950);
    --card-foreground: var(--color-zinc-50);
    --border: oklch(27.4% 0.006 286.033);
    --input: oklch(27.4% 0.006 286.033);
    --primary: var(--color-cyan-900);
    --primary-foreground: white;
    --secondary: var(--color-zinc-100);
    --secondary-foreground: oklch(27.4% 0.006 286.033);
    --accent: var(--color-zinc-700);
    --accent-foreground: var(--color-zinc-50);
    --alert: var(--color-red-500);
    --alert-foreground: var(--color-zinc-50);
    --ring: oklch(27.4% 0.006 286.033);
    --border-width: 2px;
    --stroke-width: 2px;
    --border-radius: 0.5rem;
    --shadow-base-value: 0px 1px rgba(0, 0, 0, 1);
    --shadow-2xs-value: 0px 1px rgba(0, 0, 0, 1);
    --shadow-xs-value: 1px 2px rgba(0, 0, 0, 1);
    --shadow-sm-value: 3px 4px rgba(0, 0, 0, 1);
    --shadow-md-value: 5px 6px rgba(0, 0, 0, 1);
    --shadow-lg-value: 7px 8px rgba(0, 0, 0, 1);
    --shadow-xl-value: 9px 10px rgba(0, 0, 0, 1);
    --shadow-2xl-value: 11px 12px rgba(0, 0, 0, 1);
    --shadow-inner-value: inset 0 2px 4px 0 rgba(0, 0, 0, 0.01);
    --transform-press: translate(4px, 4px);
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-alert: var(--alert);
  --color-alert-foreground: var(--alert-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-xs: var(--border-radius);
  --radius-sm: calc(var(--border-radius) + 0.125rem);
  --radius-md: calc(var(--border-radius) + 0.375rem);
  --radius-lg: calc(var(--border-radius) + 0.5rem);
  --radius-xl: calc(var(--border-radius) + 0.75rem);
  --radius-2xl: calc(var(--border-radius) + 1rem);
  --radius-3xl: calc(var(--border-radius) + 1.5rem);
  --shadow-base: var(--shadow-base-value);
  --shadow-2xs: var(--shadow-2xs-value);
  --shadow-xs: var(--shadow-xs-value);
  --shadow-sm: var(--shadow-sm-value);
  --shadow-md: var(--shadow-md-value);
  --shadow-lg: var(--shadow-lg-value);
  --shadow-xl: var(--shadow-xl-value);
  --shadow-2xl: var(--shadow-2xl-value);
  --shadow-inner: var(--shadow-inner-value);
  --default-border-width: calc(var(--border-width) + 1px);
  --border-width-base: var(--border-width);
  --border-width-2: calc(var(--border-width) + 2px);
  --border-width-4: calc(var(--border-width) + 4px);
  --border-width-8: calc(var(--border-width) + 8px);
  --stroke-width-0: 0px;
  --stroke-width-base: var(--stroke-width);
  --stroke-width-1: calc(var(--stroke-width) + 1px);
  --stroke-width-2: calc(var(--stroke-width) + 2px);
  --animate-accordion-down: collapsible-down 0.2s ease-out forwards;
  --animate-accordion-up: collapsible-up 0.2s ease-out forwards;

  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--qwikui-collapsible-content-height);
    }
  }
  @keyframes collapsible-up {
    from {
      height: var(--qwikui-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility press {
  transform: var(--transform-press);
}
@utility border-width-* {
  /* prettier-ignore */
  border: --value(--border-width-*);
}
@utility stroke-width-* {
  /* prettier-ignore */
  stroke: --value(--stroke-width-*);
}
@utility shadow-* {
  /* prettier-ignore */
  box-shadow: --value(--shadow-*);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
